:root {
  --purple: #7678ed;
  --dark: #222;
  --light: #fff;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  background-color: transparent;
  width: 100%;
  height: 75px;
  padding: 10px 50px;
  display: flex;
  position: fixed;
  color: var(--light);
  transition: 0.25s;
  z-index: 1;
}

.scrolledSome {
  background-color: rgba(0, 0, 0, 0.25);
}

.scrolled {
  background-color: var(--purple);
}

.nav img {
  height: 100%;
  background-color: var(--light);
  border-radius: 10%;
}

.brand-name {
  line-height: 35px;
  font-size: 35px;
  margin: auto 20px;
}

.nav-links {
  display: flex;
  margin-left: auto;
  font-size: 20px;
}

.nav-link {
  margin: auto;
  padding: 0px 10px;
  transition: 0.25s;
}

.nav-link:hover {
  padding-bottom: 10px;
}

.active {
  padding-bottom: 10px;
}

.snap {
  scroll-snap-type: y mandatory;
}

main {
  height: 100%;
}

.reveal {
  animation: 1s reveal;
  opacity: 1;
}

section {
  height: 100%;
  opacity: 0;
  padding-top: 75px;
}

.home {
  background-color: var(--purple);
  background-image: url("../images/svgs/undraw_code_review_re_woeb.svg");
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-content {
  display: flex;
  width: 50%;
  height: 50%;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  right: 10%;
  padding: 30px;
  border-radius: 30px;
  color: var(--dark);
  box-shadow: 0 0 0 10px var(--dark);
}

.header {
  font-size: 50px;
  font-weight: 900;
}

.content {
  font-size: 20px;
}

.socials {
  height: 40px;
  margin: 30px 0px;
  display: flex;
}

.socials i {
  height: 100%;
  margin-right: 20px;
  font-size: 35px;
  transition: 0.25s;
}

.socials i:hover {
  color: var(--purple);
}

.buttons {
  display: flex;
}

.buttons button {
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 100px;
  margin-right: 20px;
  background-color: var(--purple);
  color: var(--light);
  transition: 0.25s;
  cursor: pointer;
  border: 2px solid var(--purple);
}

.buttons button:hover {
  background-color: var(--light);
  color: var(--purple);
  border: 2px solid var(--purple);
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/svgs/undraw_certificate_re_yadi.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 75% 75%;
  padding: 75px 30px 0px;
  gap: 45px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px var(--dark);
  border-radius: 30px;
  padding: 30px;
  overflow: hidden;
}

.skill-container {
  display: flex;
  gap: 30px;
}

.skill-container i {
  background-color: var(--purple);
  width: 60px;
  aspect-ratio: 1;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 30px;
  font-weight: 900;
  padding: 0px 20px;
}

.skills-header {
  font-size: 50px;
  font-weight: 900;
  color: var(--purple);
}

.skill-back {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: #eee;
  margin: auto;
  overflow: hidden;
}

.skill-fill {
  background-color: var(--purple);
  height: 30px;
  border-radius: 30px;
  width: 0%;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.education-container {
  width: 40%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px var(--dark);
  border-radius: 30px;
  padding: 30px;
}

.education-content {
  padding: 10px 0px;
}

.education-content div {
  color: var(--dark);
  font-size: 20px;
  font-weight: 900;
}

.education-header {
  font-size: 40px;
  color: var(--purple);
}

.projects {
  background-image: url("../images/svgs/undraw_portfolio_update_re_jqnp.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 90% 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-content {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.project-header {
  color: var(--purple);
  font-size: 30px;
  padding-bottom: 10px;
}

.project-content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 0 5px #222;
  display: flex;
  flex-direction: column;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  margin: auto 0;
}

.project-image {
  width: 100%;
  aspect-ratio: 2;
  background-size: 100%;
  background-position: center;
  box-shadow: 0 0 5px #ccc;
  margin: 0 auto;
  margin-bottom: 10px;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 10px;
}

.project-description {
  position: absolute;
  height: 100%;
  bottom: -100%;
  padding: 0px 10px;
  transition: 0.5s;
  background-color: var(--light);
  border-radius: 10px;
}

.small-buttons {
  margin-top: auto;
  display: flex;
  gap: 5px;
  padding: 0px 10px;
}

.small-buttons i {
  font-size: 20px;
  transition: 0.25s color;
}

.small-buttons i:hover {
  color: var(--purple);
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/svgs/undraw_interaction_design_odgc.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 75% 75%;
}

.experience-container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}

.experience-header {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: bold;
  color: var(--purple);
}

.experience-card {
  height: 50%;
  border: 5px solid var(--dark);
  flex: 1;
  border-radius: 30px;
  top: 0;
  position: relative;
  transition: 1s;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.experience-title {
  color: var(--purple);
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0px;
}

.experience-date {
  font-size: 18px;
  font-weight: bold;
}

.experience-detail {
  flex: 1;
}

.experience-detail ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.up {
  top: -15%;
}

.down {
  top: 15%;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-container {
  display: flex;
  width: 90%;
  height: 90%;
}

.contact-image {
  background-image: url("../images/svgs/undraw_mail_re_duel.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  flex: 1;
}

.contact-form {
  height: 75%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  box-shadow: 0 0 0 10px var(--dark);
  flex: 1;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
}

.contact-title {
  font-size: 30px;
  color: var(--purple);
  font-weight: bold;
}

.contact-form input {
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #eee;
  margin: 10px 0px;
  padding: 10px 30px;
}

.contact-form textarea {
  height: 100px;
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  background-color: #eee;
  margin: 10px 0px;
}

.disabled {
  border: 2px solid #ccc !important;
  background-color: #ccc !important;
  color: var(--light) !important;
}

.contact-form button {
  height: 50px;
  border-radius: 25px;
  background-color: var(--purple);
  color: var(--light);
  margin: 10px 0px;
  border: 2px solid var(--purple);
  transition: 0.25s;
}

.contact-form button:hover {
  background-color: var(--light);
  color: var(--purple);
  border: 2px solid var(--purple);
}

footer {
  padding: 10px 30px;
  background-color: var(--purple);
  color: var(--light);
  font-weight: bold;
  text-align: center;
}
